{{ partial "social_icons.html" (dict "align" site.Params.AlignSocialIconsTo) }}
<footer class="footer">
  {{- if not site.Params.footer.hideCopyright }}
  {{- if site.Copyright }}
  <span>{{ site.Copyright | markdownify }}</span>
  {{- else }}
  <span>&copy; {{ now.Year }} <a href="{{ "" | absLangURL }}">{{ site.Title }}</a></span>
  {{- end }}
  {{- if site.Params.footer.text }}
  {{- print " — "}}
  {{- end }}
  {{- end }}

  {{- with site.Params.footer.text }}
  {{ . | markdownify }}
  {{- end }}
</footer>